.shopCategoryList-wrap {
    margin-top: .5rem;
}

.shopCategoryList-row {
     border-top: 1px solid gray;
     padding: .5rem 0 .5rem 0;
 }

.shopCategoryList-row:last-child {
    border-bottom: 1px solid gray;
}